/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2023, 2:09:44 PM
    Author     : student
*/

.masthead {
    background-image: url("./../images/topdeals.jpg");
    background-size: cover;
    min-height: 30vh;
}


.logo {
    position: relative;
    width: 60%;
    height: 60%;
}